*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
bower_components
*.tmp
platform/ios/www
platform/android/www
bower_components
www
platforms/browser/build
platforms/browser/www
platforms/android/www
platforms/ios/www

package-lock.json
*.tgz
*.tar.gz

