*.mode1v3
*.perspectivev3
*.pbxuser
.DS_Store
build

*.DS_Store
*.xcuserdatad
*.xcworkspace
*.metadata
*.idea
*.build
platforms/android/CordovaLib/build
platforms/android/GATT-IP-LIB/build
platforms/android/.gradle

platforms/android/assets/crashlytics-build.properties
platforms/android/res/values/com_crashlytics_export_strings.xml
platforms/android/.idea/misc.xml
platforms/android/.idea/runConfigurations.xml
platforms/android/.idea/workspace.xml
 

node_modules
.tmp
.sass-cache
.build
bower_components
bin
gen
builds
dist
*.gradle
