  <div layout="column" flex>
      <div id="login" layout="column">
  <div id="login-form-wrapper" layout="column" layout-align="center center">
    <div id="login-form" class="md-whiteframe-8dp">
      <div class="logo"> <span> <img src="images/header1-logo.png" width="140"> </span> </div>
      <div class="smart-coach-bg"><strong>NURO CONNECT</strong></div>
      <h4>Please verify your email to continue creating your account</h4>
      <div class="login" layout="row" layout-align="center center"> <a ui-sref="login()">Go back to login</a> </div>
    </div>
  </div>
</div>
</div>
