*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
client/bower_components
client/.tmp
client/platform/ios/www
client/platform/android/www
bower_components
.tmp
client/www
client/platforms/browser/build
client/platforms/browser/www
client/platforms/android/www
client/platforms/ios/www
server/middleware.development.json
server/component-config.json

package-lock.json
*.tgz
*.tar.gz
nuroconnect-automation/.claude

