<div layout="column" flex>
    <div id="login" layout="column">
        <div id="login-form-wrapper" layout="column" layout-align="center center">
            <div id="login-form" class="md-whiteframe-8dp">
                <div class="logo"> <span> <img src="images/header1-logo.png" width="140"> </span> </div>
                <div class="smart-coach-bg" ng-if="!isExpiry"><strong>NURO CONNECT</strong></div>
                <div class="title" ng-if="!isExpiry">Reset Password</div>
                <div class="title"  ng-if="isExpiry">{{err3}}</div>
                <form ng-if="!isExpiry">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password</label>
                        <input type="password" ng-model="vm.password">
                        <p class ="login-error">{{err1}}</p>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Password (Confirm)</label>
                        <input type="password" ng-model="vm.c_password">
                        <p class ="login-error">{{err2}}</p>
                    </md-input-container>

                    <md-button type="submit" class="md-raised md-primary submit-button" ng-click="vm.submit();"> Submit </md-button>
                </form>
                <div class="login" layout="row" layout-align="center center"> <a href="#" ng-click="login();">Go back to login</a> </div>
            </div>
        </div>
    </div>
</div>
